@model AlertMessage

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-@Model.AlertType">
                <i class="@Model.icon @Model.icon2 fa-xl m-1"></i>
                <h5 class="modal-title" id="alertModalLabel">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Model.Message</p>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>